<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGEA</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/questionario.css">
</head>
<body>

<div data-include="partials/navbar.html"></div>

<main>
    <form action="#" id="questionarioForm">
        <fieldset>
            <label for="matricola">Matricola</label>
            <input type="text" id="matricola" name="matricola" required>

            <label for="gender">Sesso</label>
            <select id="gender" name="gender">
                <option value="Male">Maschio</option>
                <option value="Female">Femmina</option>
            </select>

            <label for="age">Età</label>
            <input type="number" id="age" name="age" min="18" max="99">
        </fieldset>

        <fieldset>
            <label for="academic_pressure">Pressione Accademica (1-5):</label>
            <input type="number" id="academic_pressure" name="academic_pressure" min="1" max="5">

            <label for="study_satisfaction">Soddisfazione nello studio (1-5):</label>
            <input type="number" id="study_satisfaction" name="study_satisfaction" min="1" max="5">

            <label for="financial_stress">Stress Finanziario (1-5):</label>
            <input type="number" id="financial_stress" name="financial_stress" min="1" max="5">
        </fieldset>

        <fieldset>
            <label for="degree">Titolo di Studio:</label>
            <select id="degree" name="degree">
                <option value="diploma">Diploma</option>
                <option value="titolo_primo_livello">Titolo di Primo livello (Laurea Triennale)</option>
                <option value="titolo_secondo_livello">Titolo di Secondo livello (Laurea Magistrale)</option>
            </select>

            <label for="cgpa">Media accademica:</label>
            <input type="number" step="0.01" id="cgpa" name="cgpa" min="18" max="30">

            <label for="study_hours">Ore di studio/lavoro:</label>
            <input type="number" id="study_hours" name="study_hours" min="0" max="12">
        </fieldset>

        <fieldset>
            <label for="sleep_duration">Durata del sonno:</label>
            <select id="sleep_duration" name="sleep_duration">
                <option value="'Less than 5 hours'">Meno di 5 ore</option>
                <option value="'5-6 hours'">5-6 ore</option>
                <option value="'7-8 hours'">7-8 ore</option>
                <option value="'More than 8 hours'">Più di 8 ore</option>
            </select>

            <label for="dietary_habits">Abitudini alimentari:</label>
            <select id="dietary_habits" name="dietary_habits">
                <option value="Unhealthy">Malsano</option>
                <option value="Moderate">Moderato</option>
                <option value="Healthy">Salutare</option>
                <option value="Others">Altro</option>
            </select>

            <label for="family_history_mental_illness">Storia familiare di malattia mentale:</label>
            <select id="family_history_mental_illness" name="family_history_mental_illness">
                <option value="Yes">Sì</option>
                <option value="No">No</option>
            </select>
        </fieldset>

        <button type="submit">Invia</button>

        <div id="risultato" style="margin-top: 20px; font-weight: bold;"></div>
    </form>
</main>

<div data-include="partials/footer.html"></div>

<script src="../static/js/include.js"></script>
</body>
</html>