<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esito IGEA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/risultato.css') }}">
</head>
<body class="prediction">

{% include 'partials/navbar.html' %}

<main>
    <div class="result">
        <div class="result-container">
            <h1>Esito Analisi</h1>
            <hr>

            <h2 class="prediction-title" style="color: {{ color }};">
                {{ prediction }}
            </h2>

            <p class="prob-text">Affidabilità del modello: <strong>{{ prob }}%</strong></p>

            <br>
            <a href="/" class="btn-back">Nuova Analisi</a>
        </div>
    </div>
</main>

{% include 'partials/footer.html' %}

</body>
</html>